@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.typekit.net/uki0cvg.css");

$font-family-sans-serif: "Poppins", sans-serif !default;
$display-font-family: "interstate-mono", sans-serif !default;
$enable-rounded: false !default;
$enable-negative-margins: true !default;

$orange: #fa6b00 !default;
$green: #4600e1 !default;

$primary: #4600e1 !default;
$secondary: #e1b700 !default;
$success: #9be100 !default;
$info: #00e1b6 !default;
$warning: #fa6b00 !default;
$danger: #da0000 !default;
$light: #ecd4cb !default;
$dark: #161616 !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 12,
) !default;

$offcanvas-horizontal-width: 550px;

$font-weight-semibold: 500;
$btn-font-weight: $font-weight-semibold;
$nav-link-color: var(--bs-light);
$nav-link-hover-color: var(--bs-light);

$ember-power-select-opened-border-radius: 0px !default;
$ember-power-select-search-input-border-radius: 0px !default;

$tooltip-opacity: 1;

@import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/animate.css/animate";
// @import "node_modules/swiper/swiper";
@import "ember-power-select/themes/bootstrap";

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

// .cover {
//   background-image: url("https://tribe.alkazitheatrearchives.org/uploads/2023/09-September/28-Thu/Screenshot-2023-09-28-at-11-30-27-ab0b6b_c2edb6f36ea04051bcd90b98ebc730ce-mv2.jpg-JPEG-Image-1935-t-1749-pixels-m-Scaled-80-_651516ced3742.png");
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

@import "ember-power-select";

.spinner-grow {
  background-color: #ecd4cb;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span, th, td, tr, table, thead {
  color: #ecd4cb !important;
}

th {
  color: #ecd4cb !important;
  font-size: 19px !important;
  font-weight: 400;
}


body {
  background-color: #161616 !important;
}

// plays-by-year compnet
.hide-brief {
  display: none;
}
.brief-column {
  transition: all 0.3s ease;
}
/* Jab brief hide hoga */
.brief-collapsed .brief-column {
  min-width: 100px !important;
  max-width: 100px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hide-brief {
  width: 0px !important;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid #dee2e6;
  padding: 0 !important;
}

// seemore componet
.see-more {
  text-decoration: underline;
  cursor: pointer;
}

.brief-text-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.brief-text-wrapper.expand {
  max-height: 2000px;
  opacity: 1;
}


.sr-hidden {
  opacity: 0;
  visibility: hidden;

}
