
{{!-- <div class="swiper-container-wrapper">
  <div class="swiper mySwiper" {{did-insert this.initSwiper}}>
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
  </div>
</div> --}}


<div class="card-stack" {{did-insert this.animateStack}}>
  <div class="card-an bg-dark tet-light">1989</div>
  <div class="card-an bg-dark tet-light">1990</div>
  <div class="card-an bg-dark tet-light">1991</div>
  <div class="card-an bg-dark tet-light">1992</div>
  <div class="card-an bg-dark tet-light">1993</div>
  <div class="card-an bg-dark tet-light">1994</div>
  <div class="card-an bg-dark tet-light">1995</div>
  <div class="card-an bg-dark tet-light">1996</div>

</div>



