<div class="h-100 bg-dark text-light p-3 border-light" style="width: 900px;">
  <h4 class="text-center mb-3">Plays</h4>

    <div class="row row-cols-1 row-cols-md-3 g-3">
      {{#each @allPlays as |play|}}
        {{#if (eq play.modules.year @year)}}
          <div class="col">
            <div
              class="card bg-dark text-light h-100 p-3 position-relative border border-light border-1"
            >
              <p class="card-title">{{play.modules.title}}</p>

              <span class=" mt-3 text-warning small">
                {{play.modules.language}}
                </span>
                 <span class=" mt-3 text-warning small">
                {{play.modules.playwrights}}
                </span>
                 <span class=" mt-3 text-warning small">
                {{play.modules.director}}
              </span>
            </div>
          </div>
        {{/if}}
      {{/each}}
  </div>
</div>
