<div class="card h-100 bg-dark text-light p-3" style="width: 800px;">
  <h4 class="text-center mb-3">Theatre events</h4>

  <div class=" shadow border-light">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {{#each @allTheatreMilieus as |theatre|}}
        {{#if (eq theatre.modules.year @year)}}
          <div class="col">
            <div
              class="card bg-dark text-light h-100 p-3 position-relative"
              style="box-shadow: 0 4px 10px -5px rgba(255, 255, 255, 0.3);"            >
              <p class="card-title">{{theatre.modules.title}}</p>

              <span class=" mt-3 text-warning small">
                {{theatre.modules.event_type}}
              </span>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
